<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Simple_Data_App.Properties.Settings.connString" connectionString="Data Source=LAPTOP-OIA7IMCN;Initial Catalog=Sales;Persist Security Info=True;User ID=saa;Password=reallyStrongPwd123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>